@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import 'menu.scss';

$grey: #212529;
$red: #e22e0d;
$font: 'Josefin Sans', sans-serif;


*{
    padding: 0;
    margin: 0;
    font-family: $font;
}
*:focus {
    outline: none;
}

.imgeBack{
    position: absolute;
    width: 100%;
    height: 140px;
    top: 75px;
    z-index: 3;

    background-image: url('../img/create.jpg');
    background-repeat: no-repeat;
    background-position: 0 -30px;
    background-size: 140%;

}

.header{
    position: absolute;
    width: 100%;
    height: 140px;
    top: 75px;
    z-index: 4;
    background-color: #21252946;
    
    h3{
        text-align: left;
        color: white;
        font-size: 20px;
        font-weight: 800;
        margin-top: 10px;
        margin-left: 10px;
        span{
            line-height: 80px;
            font-size: 45px;
        }
    }
    .btn-info{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        background-color: transparent;
        border: none;
        i{
            color: white;
            padding: 0;
            margin: 0;
            font-size: 50px;
        }
    }
    
}

.modal-body{
    img{
        margin-left: 50%;
        transform: translate(-50%,0);
        padding-bottom: 20px;
    }
    p{
        text-align: justify;
        text-justify: inter-word;
    }
    
}

.table{
    padding-bottom: 200px;
    /* min-height: calc(100% - 75px - 140px - 40px - 50px); */
    position: absolute;
    top:215px;
    text-align: center;
    tbody{
        tr{
            td{
                input{
                    border: none;
                    /* background-color: #21252923; */
                }
            }
        }
    }
}

#add_row, #delete_row{
    text-align: center;
    position: fixed;
    z-index: 5;
    bottom: 50px;
    width: 50%;
    height: 40px;
    color: white;
    border-radius: 0;
    background-color: $red;
}
#add_row{
    left: 0;
}
#delete_row{
    left: 50%;
}

.finish{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $grey;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}