@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

@import 'menu.scss';

$font: 'Anton', sans-serif;

*{
    padding: 0;
    font-family: $font;
}

.contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
}
nav {
    background-color: white;
    bottom: 54%;
    width: 100%;
    height: 7%;
    position: absolute;
}
.nav-item.nav-link {
        color: white;
        background-color: red;
        width: 50%;
        height: 50px;
        padding-top: 20px;
        text-align: center;
}

.fondo {
    position: absolute;
    height: 29%;
    width: 100%;
    background-color: blue;
    margin-top: 75px; //altura del menu
    background-image: url('../img/fondo-perfil.png');
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;

    .perfilcamara {
        width: 135px;
        height: 135px;
        right: 35%;
        bottom: 0%;
        position: absolute;
        z-index: 1;

        .img-perfil{
            position: absolute;
            border-radius: 50%;
            border-style: solid;
            border-color: white;
            border-width: 3px;
            width: 100%;
            height: 100%;
        }

            .camera-change {
                width: 25%;
                position: absolute;
                bottom: 0%;
                right: 0%;
            }
    }
}
span {
    position: absolute;
    top: 300px;
}
