@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import 'menu.scss';

$red: #e22e0d;
$grey:#687480;
$font: 'Josefin Sans', sans-serif;

*{
    font-family: $font;
}

/* body{
    background-color: $grey;
} */

.buscador{
    position: relative;
    top: 75px;
    width: 100%;
    padding-top: 30px;
    h2{
        margin-left: 5%;
        color: $grey;
        text-transform: uppercase;
    }
    #myInput {
        background-image: url('../img/lupa2.png');
        background-size: auto 70%;
        background-position: 96% 6px;
        background-repeat: no-repeat;
        width: 90%;
        font-size: 16px;
        padding: 12px 50px 12px 20px;
        border: 1px solid #ddd;
        margin-left: 5%;
        margin-bottom: 20px;
        border-radius: 200px;
      }
      
      #listClient {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 90%;
        margin-left: 5%;
        li{
            width: 100%;
            margin-left: 0%;
            .nombre{
                height: 50px;
                width: 70%;
                border-radius: 200px 0 0 200px;

                background-color: #f6f6f6;
                padding: 12px  0 12px 12px;
                margin-bottom: 10px;
                text-decoration: none;
                font-size: 18px;
                color: $grey;
                
            }
            
            .icono1{
                width: 15%;
                height: 50px;
                background-color: #f6f6f6;
                color: $red;
                /* border-radius: 0px 200px 200px 0px; */
                text-decoration: none;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
            }
            .icono2{
                width: 15%;
                height: 50px;
                background-color: #f6f6f6;
                color: $red;
                border-radius: 0px 200px 200px 0px;
                text-decoration: none;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
            }
        }
      }
      
    
}
